.form{
	float: left;
}

div.form-field{
	margin-bottom: 6px;
}

.form-field input{
	display: block;
	width: 360px;
}

.form-field select{
	display: block;
	width: 366px;
}

.form-field .textarea{
	display: block;
	width: 360px;
}

.form-captcha {
	margin: 8px 0 0 0;
	text-align: center;
}

.form-captcha input{
	display: block;
	width: 170px;
	margin:0 auto;
}

#content .form-captcha img{
	display: block;
	border: none;
	padding: 0 0 4px 0;
	margin:0 auto;
}

.form-submit{
	margin: 8px 0 0 0;
	text-align: center;
}

.form-field input.error, .form-field  textarea.error, .form-field  select.error  {
	background-color:#FFFFD5;
	border:1px solid red;
	color:red;
}

div.error , div.form-error_message{
	color:red;
	padding-left: 28px;
	padding-top: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-image:url('../img/warning.gif');
    background-repeat: no-repeat;
    background-position:top left;
	height: 24px;
}

div.error {
	display: none;
}

.form-title{
	margin-bottom: 12px;
	color: #656565;
	font-size: 18px;
	font-weight: normal;
}